In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Read BTC csv into DataFrame
btc_prices_df = pd.read_csv('Resources/BTC_Prices.csv')
btc_prices_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [5]:
# Read ETH csv into DataFrame and sorting. The dates were desc by default.
eth_prices_df = pd.read_csv('Resources/Ethereum Historical Data .csv')
eth_prices_df.sort_values(by='Date', ascending=True)
eth_prices_df.head()

         Date     Price      Open      High       Low     Vol. Change %
0  05/06/2024  3,062.03  3,136.40  3,220.04  3,048.65  377.37K   -2.37%
1  05/05/2024  3,136.40  3,117.14  3,170.63  3,074.55  229.16K    0.62%
2  05/04/2024  3,117.23  3,102.25  3,146.74  3,095.58  205.59K    0.48%
3  05/03/2024  3,102.25  2,987.11  3,125.81  2,958.98  381.95K    3.85%
4  05/02/2024  2,987.12  2,973.30  3,014.55  2,897.11  387.64K    0.47%