In [1]:
import pandas as pd

Load data, inspect types & range, and sample the head

In [2]:
gold_futures_df = pd.read_csv("Resources/Gold_Futures.csv", parse_dates=["date"])

gold_futures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2324 entries, 0 to 2323
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2324 non-null   datetime64[ns]
 1   open    2324 non-null   float64
 2   high    2324 non-null   float64
 3   low     2324 non-null   float64
 4   close   2324 non-null   float64
 5   volume  2324 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 109.1 KB

In [3]:
gold_futures_df.head()

        date         open         high          low        close  volume
0 2015-01-02  1184.000000  1194.500000  1169.500000  1186.000000     138
1 2015-01-05  1180.300049  1206.900024  1180.099976  1203.900024     470
2 2015-01-06  1203.500000  1220.000000  1203.500000  1219.300049      97
3 2015-01-07  1219.199951  1219.199951  1210.599976  1210.599976      29
4 2015-01-08  1207.000000  1215.699951  1206.300049  1208.400024      92