In [1]:
import metalfutures as mf

Load data, inspect types & range, and sample the head

In [2]:
silver_futures_df = mf.get_silver_futures_df()

silver_futures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2323 entries, 0 to 2322
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2323 non-null   datetime64[ns]
 1   open    2323 non-null   float64
 2   high    2323 non-null   float64
 3   low     2323 non-null   float64
 4   close   2323 non-null   float64
 5   volume  2323 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 109.0 KB

In [3]:
silver_futures_df.head()

        date       open       high        low      close  volume
0 2015-01-02  15.790000  15.815000  15.535000  15.734000      13
1 2015-01-05  16.179001  16.179001  16.179001  16.179001       0
2 2015-01-06  16.603001  16.603001  16.603001  16.603001       2
3 2015-01-07  16.480000  16.549999  16.480000  16.510000       9
4 2015-01-08  16.351000  16.351000  16.351000  16.351000       0